.app {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    align-items: center;
    user-select: none;
    position: absolute;
    left:0;
  }
  